.mycart-page {
  padding: 12rem 0;
}
.my-cart-container {
  width: 95rem;
}
.cart-title {
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
  font-weight: 500;
  margin-top: 4.8rem;
  text-transform: uppercase;
  margin-bottom: 3.2rem;
}
.cart-title p {
  font-size: 1.8rem;
}

.cart-title div {
  display: flex;
  gap: 3.2rem;
  font-size: 1.8rem;
}
.cart-title div p {
  width: 13rem;
}

.cart-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #e7e5e4;
  padding-bottom: 1.2rem;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 2.4rem;
}
.cart-img {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  font-size: 1.8rem;
  font-weight: 500;
}
.cart-img img {
  width: 7rem;
  height: 7rem;
}
.cart-box .mycart-detail {
  display: flex;
  gap: 3.2rem;
  align-items: center;
}
.cart-box .mycart-detail p {
  width: 13rem;
}
.mycart-detail .plus-and-minus {
  display: flex;
  gap: 1.2rem;
  cursor: pointer;
}
.fa-circle-minus,
.fa-circle-plus {
  font-size: 2rem;
}
.fa-circle-minus:hover,
.fa-circle-plus:hover {
  color: var(--red-light);
}
.mycart-detail p .fa-xmark {
  margin-left: 2.4rem;
  font-size: 2.4rem;
  cursor: pointer;
}
.total-card {
  position: fixed;
  top: 19rem;
  right: 5rem;
  padding: 3.2rem 0;
  width: 25rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  background-color: #e7e5e4;
}
.total-card h3 {
  font-size: 500;
  text-align: center;
  margin-bottom: 4.8rem;
}
.total {
  display: flex;
  justify-content: space-between;
  padding: 0 1.2rem;
  padding-bottom: 1.2rem;
  border-bottom: 2px solid #e7e5e4;
}
.btn-buy-all {
  margin-top: 2.4rem;
  margin-left: 50%;
  transform: translateX(-50%);
}
