.sp-product-section {
  padding: 12rem 0;
  background-color: #dbeafe;
}
.sp-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4.8rem;
}
.sp-product-card {
  border-radius: 11px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #fff;
}
.sp-product-card div {
  overflow: hidden;
}
.sp-product-card div img {
  width: 100%;
  height: 25rem;
  transition: all 0.3s;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
}
.sp-product-card div img:hover {
  transform: scale(1.2);
}

.sp-product-text {
  display: flex;
  justify-content: space-between;
  padding: 2.4rem 0 2.4rem 2.4rem;
  align-items: center;
  gap: 2.4rem;
}
.sp-product-box {
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.btn-read-more {
  font-weight: 600 !important;
  margin-top: 4.8rem;
  margin-right: 2rem;
}
.blogs-price {
  font-weight: 700;
}

/* Sp product detail page */
.sp-product-detail-page {
  padding: 12rem 0 9.6rem;
  height: 100vh;
  overflow: hidden;
}

.sp-prodcut-detail-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6.8rem;
}
.sp-prodcut-detail-card img {
  width: 100%;
  height: 36rem;
  margin-top: 5rem;
}

.sp-product-name {
  color: #222;
  line-height: 1.5;
}
.sp-procut-price {
  color: #1e3a8a;
  font-size: 2.4rem;
  margin-top: 1.6rem;
  font-weight: 600;
}
.sp-procut-warranty {
  color: #1e3a8a;
  font-size: 1.7rem;
  padding: 1rem;
  border: 1px solid #1e3a8a;
  width: 20rem;
  margin: 3.6rem 0;
}
.choose {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.choose-info {
  font-size: 1.8rem;
  opacity: 0.8;
}
.item-details {
  font-weight: 600;
  display: grid;
  gap: 4.8rem;
  grid-template-columns: 20rem 1fr;
}
.item-details span {
  font-size: 1.8rem;
}
.btn-cart {
  margin-top: 4.8rem;
}
